@font-face {
  font-family: 'GillSansMT';
  src: url('../fonts/GillSansMTLight.ttf');
  font-weight: light;
}

@font-face {
  font-family: 'GillSansMT';
  src: url('../fonts/GillSansMTBold.ttf');
  font-weight: bold;
}

body {
    font-family: 'GillSansMT', sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.4em;
  }
  
  button,
  button:hover,
  button:focus {
    font-family: 'Gill Sans MT', sans-serif;
    outline: none;
    border: none;
  }

  * {
    box-sizing: border-box;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #26272d;
    line-height: 1.4em;
    margin: 0;
  }
  
  p {
    color: #8c8f94;
    padding: 0;
    margin: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }

  ul, li {
    display: block;
    padding: 0;
    margin: 0;
  }

  button {
    border: none;
    width: 20px;
    height: 12px;
    background: url('../img/nav.svg') no-repeat center top / cover;
    transition: width, height 0.1s ease;
  }

  button:hover {
    width: 25px;
    height: 15px;
    transition: width, height 0.5s ease;
  }

  .container {
    width: 1140px;
    margin: 0 auto;
  }
  
  .btn {
    border-radius: 25px;
    font-size: 16px;
    font-weight: light;
    text-align: center;
    background-color: #267df4;
    color: #fff;
    transition: background-color 0.5s ease;
  }

  .btn:hover {
    color: #ffffff;
    background-color: #618bc5;
    box-shadow: 0 8px 20px rgb(0 0 0 /25%);
    transition: background-color, box-shadow 0.5s ease;
  }

  .btn__secondary {
    color: #26272d;
    background: none;
    border: 1px solid #26272d;
    transition: border, color, background 0.5s ease;
  }

  .btn__secondary:hover {
    color: #fff;
    background: #267df4;
    border: 1px solid #267df4;
    transition: border, color, background, 0.5s ease;
  }
  
  /* .btn:active {
    background-color: #34b2ed;
    box-shadow: none;
    transition: background-color, box-shadow 0.5s ease;
  } */

  /* header */

  .header {
    padding: 44px 0 0;
    background: url('../img/header.jpg') no-repeat center top / cover;
  }

  .nav {
    max-width: 100%;
  }

  .nav__list {
    display: flex;
    justify-content: space-between;
  }

  .nav__item {
    margin-right: 43px;

  }
  .nav__item a {
    font-size: 16px;
    color: #26272d;
    transition: color 0.5s ease;
  }

  .nav__item a:hover {
    color: #8c8f94;
    transition: color 0.5s ease;
  }

  .nav__item_active a {
    color: #8c8f94;
  }

  .btn__primary_nav {
     padding: 8px 25px 7px 17px;
  }
  
  .btn__primary_nav img {
    margin: -5px 15px 0 0;
  }

  .logo {
    background: url('../img/logo.png');
    width: 133px;
    height: 15px;
    display: block;
    margin: 0 auto;
  }

  .offer {
    max-width: 780px;
    padding: 99px 0 40px;
  }

  .offer__title {
    font-size: 62px;
    text-align: center;
  }

  .offer__text {
    margin: 24px 0 60px;
    text-align: center;
  }
  
  .btn__secondary_offer {
    display: block;
    max-width: 205px;
    margin: 0 auto;
    padding: 12px 48px 9px 42px;
  }

  .btn__secondary_offer img {
    margin-right: 15px;
  }

  .offer-img {
    background: url('../img/iphone.svg');
    width: 443px;
    height: 464px;
  }

  /* features */

  .features {
    padding: 123px 0 38px;
  }

  .features-wrap {
    max-width: 500px;
  }

  .section__title_features {
    font-size: 26px;
    margin: 37px 0 35px;
  }

  .section__text_span {
    height: 22px;
  }

  /* iphone */

  .iphone {
    padding: 51px 0 30px;
  }

  .section__title_iphone {
    font-size: 42px;
    margin: 34px 0 68px;
    line-height: 1.2em;
  }
  
  .iphone-img {
    background: url('../img/iphone_6.png');
    width: 774px;
    height: 645px;
    margin-left: -111px;
    overflow-x: hidden;
  }

  .btn-wrap {
    margin-top: 75px;
  }

  .btn__primary_hack {
    margin-right: 20px;
    padding: 9px 52px 9px 26px;
    transition: padding 0.5s ease;
  }

  .btn__primary_hack:hover {
    padding: 9px 19px 9px 26px;
    transition: padding 0.5s ease;
  }

  .btn__primary_hack::after {
    content: '';
    display: block;
    background: url('../img/arrow_next.svg');
    width: 13px;
    height: 12px;
    margin-left: 19px;
    transition: margin-left 0.5s ease;
  }

  .btn__primary_hack:hover::after {
    margin-left: 52px;
    transition: margin-left 0.5s ease;
  }

  
  .btn__secondary_more {
    padding: 8px 33px;
  }

  /* map */

  .map {
    padding: 55px 0;
  }

  .section__title_map {
    font-size: 42px;
    margin: 0 0 57px;
    line-height: 1.2em;
  }

  .partners {
      margin-top: 69px;
  }

  .btn-partners_dropbox {
    display: block;
    background: url('../img/dropbox.png') no-repeat;
    width: 125px;
    margin-right: 31px;
    height: 38px;
  }

  .btn-partners_evernote {
    display: block;
    background: url('../img/evernote.png') no-repeat;
    width: 138px;
    height: 35px;
  }

  .map-img {
    background: url('../img/map.png');
    width: 627px;
    height: 401px;
    margin-left: 40px;
    overflow-x: hidden;
  }

  .section__title_partners {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 31px;
    line-height: 1.2em;
  }
  
  /* footer */

  .footer {
    padding: 106px 0 210px;
  }

  .logo_footer {
    margin: 0 0 31px 0;
  }

  .footer-text {
    font-size: 14px;
    width: 235px;
    margin-bottom: 28px;
  }

  .btn_download {

  }

  .btn_download::before {
    content: '';
    display: block;
    background: url('../img/apple.svg');
  }

  .footer-title {
    font-size: 12px;
    text-transform: uppercase;
  }

  .footer-nav__item a{
    color: #8c8f94;
    font-size: 16px;
    transition: color 0.5s ease;
  }

  .footer-nav__item a:hover {
    color: #26272d;
    transition: color 0.5s ease;
  }
  
  /*  RESPONSIVE  */
  
  
  /* Large: 992px - 1199px */
  @media (max-width: 1199px) {
      .container {
          max-width: 960px;
      }
  }
  /* Medium: 768px - 991px */
  @media (max-width: 991px) {
      .container {
          max-width: 720px;
      }
  }
  
  /* Small: 576px - 767px */
  @media (max-width: 767px) {
      .container {
          max-width: 540px;
      }
  }
  
  /* Extra small: 451px - 575px */
  @media (max-width: 575px) {
      .container {
          padding: 0 15px;
          width: auto;
      }
  }
  
  /* Andrew`s breakpoint: 0px (320px) - 450px */
  @media (max-width: 450px) {
      .break {
          display: none;
      }
  }