body {
    font-family: "Gill Sans MT";
    font-size: 20px;
    font-weight: 400;
  }
  
  *{
    box-sizing: border-box;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: #26272d;
    line-height: 72px;
  }
  
  p {
    color: #8c8f94;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }

  ul, li {
    display: block;
    padding: 0;
    margin: 0;
  }
  
  .container {
    width: 1140px;
    margin: 0 auto;
  }
  
  .btn {
    border-radius: 21px;
    background-color: #267df4;
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    padding: 15px 33px;
    transition: background-color 0.5s ease;
    /* margin: 0 auto;
    text-align: center; */
  }

  .btn:hover {
    background-color: #226DD2;
    box-shadow: 0 8px 20px rgb(37 0 249 /25%);
    transition: background-color, box-shadow 0.5s ease;
  }
  
  .btn:active {
    background-color: #226DD2;
    box-shadow: none;
    transition: background-color, box-shadow 0.5s ease;

  }

  .section-title {
    text-align: center;
  }
  
  /* header */
  
  /* features */
  /* iPhone */
  /* map */
  /* footer */
  
  /*  RESPONSIVE  */
  
  
  /* Large: 992px - 1199px */
  @media (max-width: 1199px) {
      .container {
          max-width: 960px;
      }
  }
  /* Medium: 768px - 991px */
  @media (max-width: 991px) {
      .container {
          max-width: 720px;
      }
  }
  
  /* Small: 576px - 767px */
  @media (max-width: 767px) {
      .container {
          max-width: 540px;
      }
  }
  
  /* Extra small: 451px - 575px */
  @media (max-width: 575px) {
      .container {
          padding: 0 15px;
          width: auto;
      }
  }
  
  /* Andrew`s breakpoint: 0px (320px) - 450px */
  @media (max-width: 450px) {
      .break {
          display: none;
      }
  }